In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings

### 자치구별 자동차 등록현황(24년3월)

In [2]:
car_24 = pd.read_csv('C:/Users/USER/OneDrive/바탕 화면/Final_project/서울시 자치구별 연료별 차종별 용도별 등록현황(24년03월)_2차가공.csv')
car_24

     시군구     연료      계
0    종로구    CNG    111
1    종로구     경유  17195
2    종로구   기타연료    250
3    종로구     수소     79
4    종로구    엘피지   2052
..   ...    ...    ...
196  강동구     수소    259
197  강동구    엘피지  12826
198  강동구     전기   3062
199  강동구  하이브리드  11135
200  강동구    휘발유  78848

[201 rows x 3 columns]

In [3]:
#피벗테이블로 만들기
pivot_df = car_24.pivot_table(index='시군구', columns='연료', values='계', aggfunc='sum', margins=True, margins_name='합계')
pivot_df = pivot_df.fillna(0)
pivot_df

연료,CNG,LNG,경유,기타연료,수소,엘피지,전기,하이브리드,휘발유,합계
시군구,,,,,,,,,,
강남구,208.0,0.0,65260.0,637.0,269.0,9631.0,14279.0,23006.0,142809.0,256099
강동구,171.0,0.0,47858.0,363.0,259.0,12826.0,3062.0,11135.0,78848.0,154522
강북구,591.0,0.0,25006.0,100.0,41.0,6958.0,1216.0,3736.0,36521.0,74169
강서구,314.0,0.0,65309.0,441.0,265.0,17677.0,3794.0,13420.0,103380.0,204600
관악구,209.0,0.0,37675.0,185.0,78.0,9497.0,1859.0,7373.0,61060.0,117936
광진구,152.0,0.0,32147.0,186.0,67.0,6667.0,1419.0,6389.0,50191.0,97218
구로구,296.0,0.0,50035.0,351.0,200.0,11426.0,5625.0,8953.0,70792.0,147678
금천구,379.0,0.0,34250.0,182.0,64.0,6917.0,1383.0,5570.0,43230.0,91975
노원구,550.0,0.0,45899.0,322.0,84.0,14612.0,2267.0,9634.0,78787.0,152155
도봉구,295.0,0.0,30603.0,191.0,47.0,10124.0,1570.0,5053.0,47063.0,94946
동대문구,45.0,0.0,34804.0,241.0,65.0,7727.0,1619.0,6527.0,51721.0,102749
동작구,42.0,0.0,31190.0,169.0,128.0,6290.0,1680.0,8226.0,58637.0,106362
마포구,233.0,0.0,38098.0,283.0,186.0,6791.0,2451.0,9071.0,64830.0,121943
서대문구,203.0,0.0,27670.0,207.0,108.0,6769.0,1685.0,6590.0,48418.0,91650
서초구,477.0,0.0,49711.0,443.0,236.0,6236.0,6123.0,15738.0,97664.0,176628
성동구,288.0,0.0,32532.0,314.0,69.0,6679.0,2834.0,7179.0,54746.0,104641
성북구,686.0,0.0,38616.0,294.0,73.0,8225.0,2051.0,8117.0,64073.0,122135
송파구,795.0,0.0,73266.0,644.0,241.0,14895.0,4602.0,19261.0,130375.0,244079
양천구,541.0,0.0,46549.0,334.0,126.0,11999.0,2379.0,10245.0,79016.0,151189
영등포구,96.0,1.0,48866.0,483.0,177.0,8486.0,2834.0,10073.0,73649.0,144665
용산구,28.0,0.0,22084.0,252.0,93.0,3105.0,1645.0,5748.0,41046.0,74001
은평구,596.0,0.0,41286.0,251.0,134.0,11421.0,2192.0,8325.0,70842.0,135047
종로구,111.0,0.0,17195.0,250.0,79.0,2052.0,1326.0,3431.0,26038.0,50482
중구,23.0,0.0,18431.0,223.0,58.0,2500.0,2445.0,3886.0,26766.0,54332
중랑구,311.0,0.0,40417.0,222.0,59.0,12225.0,2098.0,6072.0,55171.0,116575
합계,7640.0,1.0,994757.0,7568.0,3206.0,221735.0,74438.0,222758.0,1655673.0,3187776

In [4]:
#pivot_df.to_csv('서울시 자치구별 연료별 자동차 등록대수(24년3월)_PT.csv')

In [5]:
pivot_df.describe(include='all')

연료,CNG,LNG,경유,기타연료,수소,엘피지,전기,하이브리드,휘발유,합계
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,2.600000e+01,2.600000e+01
mean,587.692308,0.076923,76519.769231,582.153846,246.615385,17056.538462,5726.000000,17135.230769,1.273595e+05,2.452135e+05
std,1454.337781,0.271746,187800.158956,1431.208348,608.277968,41918.846204,14258.829486,42191.809934,3.129737e+05,6.023133e+05
min,23.000000,0.000000,17195.000000,100.000000,41.000000,2052.000000,1216.000000,3431.000000,2.603800e+04,5.048200e+04
25%,156.750000,0.000000,31429.250000,210.750000,67.500000,6701.500000,1653.750000,6151.250000,4.886125e+04,9.551400e+04
50%,291.500000,0.000000,38357.000000,267.500000,100.500000,8355.500000,2229.500000,8171.500000,6.256650e+04,1.199395e+05
75%,525.000000,0.000000,48614.000000,360.000000,196.500000,11855.750000,3005.000000,10202.000000,7.883275e+04,1.519135e+05
max,7640.000000,1.000000,994757.000000,7568.000000,3206.000000,221735.000000,74438.000000,222758.000000,1.655673e+06,3.187776e+06

### 자치구별 자동차 등록현황(23년3월)

In [6]:
car_23 = pd.read_csv('C:/Users/USER/OneDrive/바탕 화면/Final_project/서울시 자치구별 연료별 차종별 용도별 등록현황(23년03월)_2차가공.csv')
car_23

     시군구     연료        계
0    종로구    CNG    113.0
1    종로구     경유  18000.0
2    종로구   기타연료    253.0
3    종로구     수소     75.0
4    종로구    엘피지   2165.0
..   ...    ...      ...
198  강동구    엘피지  13311.0
199  강동구     전기   2350.0
200  강동구  하이브리드   8732.0
201  강동구    휘발유  78701.0
202  강동구    NaN      NaN

[203 rows x 3 columns]

In [7]:
#피벗테이블로 만들기
pivot_df_23 = car_23.pivot_table(index='시군구', columns='연료', values='계', aggfunc='sum', margins=True, margins_name='합계')
pivot_df_23 = pivot_df_23.fillna(0)
pivot_df_23

연료,CNG,LNG,경유,기타연료,수소,알코올,엘피지,전기,하이브리드,휘발유,합계
시군구,,,,,,,,,,,
강남구,228.0,0.0,67126.0,624.0,229.0,0.0,10164.0,14024.0,18833.0,139217.0,250445.0
강동구,184.0,0.0,49797.0,350.0,253.0,0.0,13311.0,2350.0,8732.0,78701.0,153678.0
강북구,619.0,0.0,26318.0,118.0,36.0,0.0,7290.0,950.0,2932.0,36903.0,75166.0
강서구,341.0,0.0,68256.0,393.0,223.0,0.0,18338.0,2937.0,11971.0,103645.0,206104.0
관악구,229.0,0.0,39683.0,181.0,77.0,0.0,9884.0,1401.0,5875.0,61556.0,118886.0
광진구,169.0,0.0,33873.0,175.0,63.0,0.0,6999.0,1110.0,5100.0,50447.0,97936.0
구로구,324.0,0.0,52548.0,342.0,189.0,0.0,11977.0,5225.0,6943.0,71171.0,148719.0
금천구,389.0,0.0,36047.0,185.0,54.0,0.0,7197.0,1059.0,4229.0,43063.0,92223.0
노원구,590.0,0.0,47964.0,319.0,75.0,0.0,15270.0,1666.0,7585.0,79164.0,152633.0
도봉구,328.0,0.0,32195.0,183.0,36.0,0.0,10500.0,1147.0,3970.0,47264.0,95623.0
동대문구,46.0,0.0,35560.0,238.0,64.0,0.0,7810.0,1158.0,4817.0,50254.0,99947.0
동작구,51.0,0.0,32669.0,167.0,110.0,0.0,6560.0,1244.0,6519.0,58830.0,106150.0
마포구,269.0,0.0,40070.0,284.0,179.0,1.0,7208.0,1860.0,7325.0,65219.0,122415.0
서대문구,226.0,0.0,29120.0,213.0,102.0,0.0,7023.0,1265.0,5173.0,48740.0,91862.0
서초구,502.0,0.0,52087.0,407.0,258.0,0.0,6440.0,4960.0,12669.0,98814.0,176137.0
성동구,312.0,0.0,34457.0,324.0,59.0,0.0,6936.0,2324.0,5783.0,54587.0,104782.0
성북구,707.0,0.0,40548.0,275.0,71.0,0.0,8614.0,1528.0,6399.0,64669.0,122811.0
송파구,828.0,0.0,77858.0,634.0,240.0,0.0,15766.0,3374.0,15520.0,131377.0,245597.0
양천구,570.0,0.0,48730.0,325.0,111.0,0.0,12520.0,1821.0,8064.0,79527.0,151668.0
영등포구,93.0,1.0,51283.0,477.0,178.0,0.0,8887.0,2211.0,8006.0,73526.0,144662.0
용산구,33.0,0.0,23606.0,271.0,85.0,0.0,3325.0,1218.0,4709.0,42189.0,75436.0
은평구,673.0,0.0,42704.0,232.0,133.0,0.0,11681.0,1590.0,6531.0,69925.0,133469.0
종로구,113.0,0.0,18000.0,253.0,75.0,0.0,2165.0,970.0,2818.0,26606.0,51000.0
중구,23.0,0.0,20482.0,272.0,66.0,0.0,2827.0,2194.0,3404.0,28398.0,57666.0
중랑구,338.0,0.0,42005.0,214.0,53.0,0.0,12564.0,1537.0,4708.0,55104.0,116523.0
합계,8185.0,1.0,1042986.0,7456.0,3019.0,1.0,231256.0,61123.0,178615.0,1658896.0,3191538.0

In [8]:
#pivot_df_23.to_csv('서울시 자치구별 연료별 자동차 등록대수(23년3월)_PT.csv')

### 행정동별 자동차 등록현황(24년3월)

In [12]:
df = pd.read_csv('C:/Users/USER/OneDrive/바탕 화면/Final_project/행정동별 자동차 등록현황(24년3월)_1차전처리.csv')
df

      자치구     행정동     연료    합계
0     종로구  청운효자동     휘발유  1851
1     종로구  청운효자동      경유   963
2     종로구  청운효자동     엘피지   152
3     종로구  청운효자동      전기    62
4     종로구  청운효자동   하이브리드   272
...   ...     ...    ...   ...
3277  강동구   둔촌2동     엘피지   590
3278  강동구   둔촌2동      전기   109
3279  강동구   둔촌2동   하이브리드   607
3280  강동구   둔촌2동      수소     7
3281  강동구   둔촌2동    기타연료    16

[3282 rows x 4 columns]

In [18]:
#피벗테이블로 만들기
pivot = df.pivot_table(index=['자치구', '행정동'], columns='연료', values='합계', aggfunc='sum', margins=True, margins_name='합계')
pivot = pivot.fillna(0)
pivot

연료            CNG  LNG        경유    기타연료      수소       엘피지       전기     하이브리드  \
자치구 행정동
강남구 개포1동    124.0  0.0    2641.0    17.0     5.0     296.0    234.0    1126.0
    개포2동     38.0  0.0    3601.0    22.0    23.0     552.0    443.0    1761.0
    개포3동      0.0  0.0    1007.0     6.0     8.0     212.0     74.0     363.0
    개포4동      1.0  0.0    2481.0    14.0    11.0     349.0    188.0     740.0
    논현1동      1.0  0.0    3177.0    31.0     8.0     346.0    236.0     687.0
...           ...  ...       ...     ...     ...       ...      ...       ...
중랑구 신내1동     72.0  0.0    4508.0    48.0     7.0    1252.0    265.0     732.0
    신내2동      5.0  0.0    2249.0    13.0     2.0     837.0    138.0     379.0
    중화1동      0.0  0.0    1923.0     9.0     2.0     509.0     86.0     262.0
    중화2동      0.0  0.0    2182.0     5.0     3.0     579.0     85.0     242.0
합계         7640.0  1.0  993404.0  7552.0  3206.0  221643.0  74438.0  222751.0

연료               휘발유       합계
자치구 행정동
강남구 개포1동      5991.0    10434
    개포2동      9216.0    15656
    개포3동      2668.0     4338
    개포4동      4779.0     8563
    논현1동      5385.0     9871
...              ...      ...
중랑구 신내1동      6033.0    12917
    신내2동      3276.0     6899
    중화1동      2650.0     5441
    중화2동      2950.0     6046
합계         1653557.0  3184192

[449 rows x 10 columns]

In [20]:
pivot_24 = pivot.reset_index()
pivot_24 = pivot_24[:-1]
pivot_24

연료,자치구,행정동,CNG,LNG,경유,기타연료,수소,엘피지,전기,하이브리드,휘발유,합계
0,강남구,개포1동,124.0,0.0,2641.0,17.0,5.0,296.0,234.0,1126.0,5991.0,10434
1,강남구,개포2동,38.0,0.0,3601.0,22.0,23.0,552.0,443.0,1761.0,9216.0,15656
2,강남구,개포3동,0.0,0.0,1007.0,6.0,8.0,212.0,74.0,363.0,2668.0,4338
3,강남구,개포4동,1.0,0.0,2481.0,14.0,11.0,349.0,188.0,740.0,4779.0,8563
4,강남구,논현1동,1.0,0.0,3177.0,31.0,8.0,346.0,236.0,687.0,5385.0,9871
...,...,...,...,...,...,...,...,...,...,...,...,...
443,중랑구,상봉2동,0.0,0.0,1801.0,14.0,2.0,526.0,83.0,275.0,2893.0,5594
444,중랑구,신내1동,72.0,0.0,4508.0,48.0,7.0,1252.0,265.0,732.0,6033.0,12917
445,중랑구,신내2동,5.0,0.0,2249.0,13.0,2.0,837.0,138.0,379.0,3276.0,6899
446,중랑구,중화1동,0.0,0.0,1923.0,9.0,2.0,509.0,86.0,262.0,2650.0,5441
447,중랑구,중화2동,0.0,0.0,2182.0,5.0,3.0,579.0,85.0,242.0,2950.0,6046

In [27]:
# 행정동코드 merge 전에 공백 전처리
pivot_24['행정동'] = pivot_24['행정동'].str.strip()

### 행정동코드 불러오기

In [23]:
code = pd.read_excel('C:/Users/USER/OneDrive/바탕 화면/Final_project/행정동 코드.xlsx')
code

           행정동코드      시도명 시군구명   읍면동명      생성일자  말소일자
0     1100000000    서울특별시  NaN    NaN  19880423   NaN
1     1111000000    서울특별시  종로구    NaN  19880423   NaN
2     1111051500    서울특별시  종로구  청운효자동  20081101   NaN
3     1111053000    서울특별시  종로구    사직동  19880423   NaN
4     1111054000    서울특별시  종로구    삼청동  19880423   NaN
...          ...      ...  ...    ...       ...   ...
3909  5280038000  전북특별자치도  부안군    백산면  20240118   NaN
3910  5280039000  전북특별자치도  부안군    상서면  20240118   NaN
3911  5280040000  전북특별자치도  부안군    하서면  20240118   NaN
3912  5280041000  전북특별자치도  부안군    줄포면  20240118   NaN
3913  5280042000  전북특별자치도  부안군    위도면  20240118   NaN

[3914 rows x 6 columns]

In [28]:
# 행정동코드 merge 전에 공백 전처리
code['읍면동명'] = code['읍면동명'].str.strip()

In [32]:
# 출력할 때 지수 표기법 비활성화
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [38]:
# pivot_24 테이블과 code 테이블을 행정동과 읍면동면을 기준으로 결합
merged_df = pd.merge(pivot_24, code.drop_duplicates('읍면동명'), left_on='행정동', right_on='읍면동명', how='left')
merged_df

,자치구,행정동,CNG,LNG,경유,기타연료,수소,엘피지,전기,하이브리드,휘발유,합계,행정동코드,시도명,시군구명,읍면동명,생성일자,말소일자
0,강남구,개포1동,124,0,2641,17,5,296,234,1126,5991,10434,1168066000,서울특별시,강남구,개포1동,19880423,NaN
1,강남구,개포2동,38,0,3601,22,23,552,443,1761,9216,15656,1168067000,서울특별시,강남구,개포2동,19880423,NaN
2,강남구,개포3동,0,0,1007,6,8,212,74,363,2668,4338,1168067500,서울특별시,강남구,개포3동,20221223,NaN
3,강남구,개포4동,1,0,2481,14,11,349,188,740,4779,8563,1168069000,서울특별시,강남구,개포4동,19880701,NaN
4,강남구,논현1동,1,0,3177,31,8,346,236,687,5385,9871,1168052100,서울특별시,강남구,논현1동,19921001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,중랑구,상봉2동,0,0,1801,14,2,526,83,275,2893,5594,NaN,NaN,NaN,NaN,NaN,NaN
444,중랑구,신내1동,72,0,4508,48,7,1252,265,732,6033,12917,1126068000,서울특별시,중랑구,신내1동,19960301,NaN
445,중랑구,신내2동,5,0,2249,13,2,837,138,379,3276,6899,1126069000,서울특별시,중랑구,신내2동,19960301,NaN
446,중랑구,중화1동,0,0,1923,9,2,509,86,262,2650,5441,NaN,NaN,NaN,NaN,NaN,NaN
447,중랑구,중화2동,0,0,2182,5,3,579,85,242,2950,6046,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
merged_df.isnull().sum()

자치구        0
행정동        0
CNG        0
LNG        0
경유         0
기타연료       0
수소         0
엘피지        0
전기         0
하이브리드      0
휘발유        0
합계         0
행정동코드    194
시도명      194
시군구명     194
읍면동명     194
생성일자     194
말소일자     448
dtype: int64

In [ ]:
#pip install PublicDataReader --upgrade

In [41]:
import PublicDataReader as pdr

In [42]:
행정동코드 = pdr.code_hdong()
행정동코드.head()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2024.2.1. 시행)

  시도코드    시도명  시군구코드 시군구명       행정동코드   읍면동명      생성일자      말소일자
0   11  서울특별시  11000       1100000000         19880423
1   11  서울특별시  11110  종로구  1111000000         19880423
2   11  서울특별시  11110  종로구  1111051000    청운동  19880423  20081101
3   11  서울특별시  11110  종로구  1111051500  청운효자동  20081101
4   11  서울특별시  11110  종로구  1111052000    효자동  19880423  20081101

In [43]:
법정동코드 = pdr.code_bdong()
법정동코드.head()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2024.2.1. 시행)

  시도코드    시도명  시군구코드 시군구명       법정동코드 읍면동명 동리명      생성일자 말소일자
0   11  서울특별시  11000       1100000000           19880423
1   11  서울특별시  11110  종로구  1111000000           19880423
2   11  서울특별시  11110  종로구  1111010100  청운동      19880423
3   11  서울특별시  11110  종로구  1111010200  신교동      19880423
4   11  서울특별시  11110  종로구  1111010300  궁정동      19880423

In [44]:
merged_2 = pd.merge(pivot_24, 행정동코드.drop_duplicates('읍면동명'), left_on='행정동', right_on='읍면동명', how='left')
merged_2

,자치구,행정동,CNG,LNG,경유,기타연료,수소,엘피지,전기,하이브리드,휘발유,합계,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,생성일자,말소일자
0,강남구,개포1동,124,0,2641,17,5,296,234,1126,5991,10434,11,서울특별시,11680,강남구,1168066000,개포1동,19880423,
1,강남구,개포2동,38,0,3601,22,23,552,443,1761,9216,15656,11,서울특별시,11680,강남구,1168067000,개포2동,19880423,
2,강남구,개포3동,0,0,1007,6,8,212,74,363,2668,4338,11,서울특별시,11680,강남구,1168067500,개포3동,20221223,
3,강남구,개포4동,1,0,2481,14,11,349,188,740,4779,8563,11,서울특별시,11680,강남구,1168069000,개포4동,19880701,
4,강남구,논현1동,1,0,3177,31,8,346,236,687,5385,9871,11,서울특별시,11680,강남구,1168052100,논현1동,19921001,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,중랑구,상봉2동,0,0,1801,14,2,526,83,275,2893,5594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,중랑구,신내1동,72,0,4508,48,7,1252,265,732,6033,12917,11,서울특별시,11260,중랑구,1126068000,신내1동,19960301,
445,중랑구,신내2동,5,0,2249,13,2,837,138,379,3276,6899,11,서울특별시,11260,중랑구,1126069000,신내2동,19960301,
446,중랑구,중화1동,0,0,1923,9,2,509,86,262,2650,5441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,중랑구,중화2동,0,0,2182,5,3,579,85,242,2950,6046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
merged_2.isnull().sum()

자치구        0
행정동        0
CNG        0
LNG        0
경유         0
기타연료       0
수소         0
엘피지        0
전기         0
하이브리드      0
휘발유        0
합계         0
시도코드     180
시도명      180
시군구코드    180
시군구명     180
행정동코드    180
읍면동명     180
생성일자     180
말소일자     180
dtype: int64