### 서울시 행정동별 연료별 자동차 등록현황
http://data.seoul.go.kr/dataList/OA-21236/F/1/datasetView.do

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings

In [18]:
car_2403 = pd.read_csv('C:/Users/USER/OneDrive/바탕 화면/Final_project/서울시 자치구 읍면동별 연료별 자동차 등록현황(행정동)(24년03월)_1차가공.csv')
car_2403.head(10)

          행정동             연료       계
0      종로구 기타        휘발유(무연)      1
1      종로구 기타            휘발유      2
2      종로구 기타             경유      1
3  종로구 청운효자동             휘발유    741
4  종로구 청운효자동              경유    963
5  종로구 청운효자동             엘피지    152
6  종로구 청운효자동              전기     62
7  종로구 청운효자동         휘발유(유연)      2
8  종로구 청운효자동         휘발유(무연)  1,108
9  종로구 청운효자동   하이브리드(휘발유+전기)    270

In [19]:
# '계' 컬럼에서 쉼표 제거하고 정수로 변환하는 함수 정의
def remove_comma_and_convert_to_int(value):
    return int(value.replace(',', ''))

In [20]:
car_2403['계'] = car_2403['계'].apply(lambda x: remove_comma_and_convert_to_int(x))

In [23]:
car_2403.head(10)

          행정동             연료     계
0      종로구 기타        휘발유(무연)     1
1      종로구 기타            휘발유     2
2      종로구 기타             경유     1
3  종로구 청운효자동             휘발유   741
4  종로구 청운효자동              경유   963
5  종로구 청운효자동             엘피지   152
6  종로구 청운효자동              전기    62
7  종로구 청운효자동         휘발유(유연)     2
8  종로구 청운효자동         휘발유(무연)  1108
9  종로구 청운효자동   하이브리드(휘발유+전기)   270

In [21]:
# 원본 총계에서 -5 차이 발생 > 원본 오류로 가정 후 무시하고 진행
car_total = sum(car_2403['계'])
car_total

3187771

In [24]:
#Python 전처리 후 csv 파일로 저장하여 SQL로 이어서 전처리 진행
car_2403.to_csv('서울시 자치구 읍면동별 연료별 자동차 등록현황(행정동)(24년03월)_2차가공.csv', index=False)