# 프로젝트 정보
**개요**
- 사회 이슈를 발견하고 문제점을 해결하기 위한 데이터 분석을 진행한다.
- api로 데이터 수집, 분석 툴을 활용한 데이터 분석, 대시보드를 활용한 데이터 시각화를 진행한다.
- 데이터 분석을 통한 최적의 문제 해결방안을 제시한다.

**배경**
- 최근 전기차 업체들이 경쟁적으로 전기차 신차를 출시하기 시작하면서 전기차가 빠르게 대중화되는 반면, 전기차 충전 인프라가 전기차 보급 속도를 따라가지 못하는 상황으로 일부 지역에서는 전기차 충전기의 이용과 점유를 두고 충전 인프라에 대한 불편을 호소하고 있다.
- 서울시는 기후변화대응 종합계획(2022-2026)에서 10대 핵심사업 중 하나로 전기차 10% 시대 실현을 발표하며 ‘생활권 5분 충전망’ 구축을 목표하고있다. 이에 따라 효율적인 전기차 충전 인프라 확충을 위해 최적의 입지를 분석하여 선정한다.

**주제**
- 서울시 신규 전기차 충전소 부지 선정

**설명** 
- 분석 배경 및 필요성
- 데이터 수집
- 데이터 전처리 및 분석
    - 충전기 설치 완료 구역 분석
    - 충전기 수요지 분석
    - 설치 제한구역 확인
    - 충전기 설치 수량 분석
    - 최적 입지 지역 선정
- 시각화 결과물
- 결론

---
# 데이터 수집
- 전기자동차 보급 활성화 및 전기자동차 사용자를 위한 전국 공공 및 민간 충전기 운영현황 정보조회서비스
- https://safemap.go.kr/opna/data/dataView.do

In [ ]:
import requests
import pandas as pd 


serviceKey = "V9RHJ29A-V9RH-V9RH-V9RH-V9RHJ29AHU"  # 일반 인증키 (Decoding)

url = 'http://safemap.go.kr/openApiService/data/getChargingStationData.do'
params ={'serviceKey' : serviceKey, 'numOfRows' : '10000', 'pageNo' : '1', 'dataType' : 'XML' }

response = requests.get(url, params=params)
#print(response.content)  # bytes 형태여서 보기 힘듦.
content = response.content.decode('utf-8')  # utf-8로 디코딩함. 
print(content)

chager_place_df = pd.read_xml(response.content, xpath=".//item")

In [4]:
chager_place_df.head(3)

,OBJT_ID,STAT_NM,STAT_ID,CHGER_ID,CHGER_TY,USE_TM,BUSI_ID,BUSI_NM,TELNO,ADRES,RN_ADRES,CTPRVN_CD,SGG_CD,EMD_CD,X,Y
0,1,신교공영주차장,ST111106,3,2,24시간 이용가능,ST,에스트래픽,1566-1704,NaN,서울특별시 종로구 자하문로 89 (지하 2층 주차장),11,11110,11110102,1.413423e+07,4.520828e+06
1,2,신교공영주차장,ST111106,4,2,24시간 이용가능,ST,에스트래픽,1566-1704,NaN,서울특별시 종로구 자하문로 89 (지하 2층 주차장),11,11110,11110102,1.413423e+07,4.520828e+06
2,3,신교공영주차장,ST111106,1,4,24시간 이용가능,ST,에스트래픽,1566-1704,NaN,서울특별시 종로구 자하문로 89 (지하 2층 주차장),11,11110,11110102,1.413423e+07,4.520828e+06